.section2 {
  padding-top: 25px;
  padding-bottom: 49px;
}
.both {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.first {
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
}
.lasth2 {
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 41.02px;
  text-align: left;
  padding-bottom: 29px;
  @media (max-width: 1200px) {
    text-align: center;
    font-size: 24px;
  }
}
.lastp {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 17.58px;
  text-align: left;
  padding-bottom: 59px;
  @media (max-width: 1200px) {
    font-size: 12px;
    text-align: center;
  }
}
.lastbtn {
  padding: 12px 31px;
  border: 0px;
  background-color: rgba(52, 201, 182, 1);
  color: #fff;
}
.lastbtn:hover {
  background-color: rgb(237, 128, 128);
  transition: background-color 0.4s linear;
}
.img1 {
  @media (max-width: 1200px) {
    display: none;
  }
}

.img2 {
  display: none;
  @media (max-width: 1200px) {
    display: inline;
  }
}
